{% extends "base.html" %}
{% load static %}

{% block title %}Your Entries - FitCypher{% endblock %}

{% block head %}
<style>
    .card {
        margin: 5px;
        flex: 1 1 calc(33.333% - 20px);
        box-sizing: border-box;
        max-width: 200px;
    }
    .day-group {
        margin-bottom: 30px;
    }
    .day-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background-color: lightslategrey;
        border-bottom: none;
        
    }
    .card-body {
        padding: 0;
        text-align: center;
    }
    .entry-value {
        margin: 0.2rem 0;
        font-size: 0.8rem;
    }
    .time {
        color: #000000;
        font-size: 0.875rem;
    }
    .tracking {
        color: #000000;
        font-size: 0.875rem;
    }
    /* Define tracking color classes with refined colors */
    .tracking-exercise { background-color: #4CAF50; }  /* Green */
    .tracking-food { background-color: #FF9800; }      /* Orange */
    .tracking-blood_pressure { background-color: #F44336; }  /* Red */
    .tracking-weight { background-color: #FFC107; }    /* Amber/Yellow */
    .tracking-default { background-color: #9E9E9E; }    /* Gray */
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- <h1>Your Entries</h1> -->
    {% for day, entries in grouped_entries %}
        <div class="day-group">
            <div class="day-header">{{ day }}</div>
            <div class="card-container">
                {% for entry in entries %}
                    <div class="card">
                        <div class="card-header" style="
                            {% if entry.tracking == 'exercise' %}background-color: #b6e3ff;
                            {% elif entry.tracking == 'food' %}background-color: MediumSeaGreen;
                            {% elif entry.tracking == 'blood_pressure' %}background-color: #F44336;
                            {% elif entry.tracking == 'weight' %}background-color: #FFC107;
                            {% else %}background-color: #9E9E9E;{% endif %}">
                            <span class="time">{{ entry.date|date:"H:i" }}</span>
                            <span class="tracking">{{ entry.tracking }}</span>
                        </div>
                        <div class="card-body">
                            {% if entry.string_value %}
                                <div class="entry-value">{{ entry.string_value }}</div>
                            {% endif %}
                            {% if entry.numerical_value %}
                                <div class="entry-value">{{ entry.numerical_value }}</div>
                            {% endif %}
                            {% if entry.notes %}
                                <div class="entry-value">{{ entry.notes }}</div>
                            {% endif %}
                            {% if entry.tags %}
                                <div class="entry-value">{{ entry.tags }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}